body {
  background-color: rgb(241, 246, 246);
}
* {
  box-sizing: border-box;
  margin: 0;
}
* {
  box-sizing: border-box;
  font-family: "Lugrasimo", cursive;
  border-radius: 10px;
  margin-bottom: 10px;
}

a:visited {
  color: red;
}

#header {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  background-color: rgb(42, 42, 108);
  color: white;
  border-radius: 0;
  height: 170px;
}

a,
abbr {
  text-decoration: none;
  font-family: "Lugrasimo";
}

a:hover {
  color: brown;
}

nav ul li {
  display: inline;
  margin: 0 25px;
  color: white;
}

nav ul li a {
  color: white;
}

ul li {
  font-family: lugrasimo;
  font-style: normal;
  list-style: none;
  text-align: left;
}
#about h3 {
  font-size: 20px;
  font-style: normal;
}

#about {
  box-sizing: border-box;
  text-align: center;
  height: 220px;
  width: 1480px;
  padding: 20px;
  font-family: Lugrasimo;
  font-style: normal;
  margin: auto 20px;
  border-radius: 10px;
  box-shadow: 0 2px 60px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

#skills,
#personalstrengths,
#HOBBIES {
  padding: 10px;
  height: 250px;
  width: 450px;
  margin: auto 200px;
  box-shadow: 0 2px 60px rgba(0, 0, 0, 0.2);
}

#skills {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
}

#personalstrengths {
  margin-top: -270px;
  margin-bottom: 20px;
  margin-left: 540px;
}

#HOBBIES {
  margin-top: -270px;
  margin-bottom: 20px;
  margin-left: 1050px;
}

#projects {
  height: 220px;
  width: 1480px;
  margin: auto 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 2px 60px rgba(0, 0, 0, 0.2);
}

#internships {
  padding-top: 10px;
  height: 200px;
  width: 1480px;
  margin: auto 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 2px 60px rgba(0, 0, 0, 0.2);
}
#education {
  padding-top: 10px;
  height: 250px;
  width: 1480px;
  margin: auto 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 2px 60px rgba(0, 0, 0, 0.2);
}

#links {
  margin-top: 10px;
}
fieldset {
  margin: 20px 20px;
  height: 70px;
  width: 900px;
  border: 0;
}
